<h1 class='count'>All <%= @count %> Members</h1>
<h2 class='name'>Name: <%= @name %></h2>
<h2 class='photo'>Avatar: <%= @photo %></h2>
<h2 class='allies'>Allies: <%= @allies %></h2>
<h2 class='enemies'>Enemies: <%= @enemies %></h2>
<h2 class='affiliations'>Affiliations: <%= @affiliations %></h2>
